.title {
  background-image: radial-gradient(circle, #011222, #ee4b2b);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  font-size: 96px;
  margin: 10px 0;
}
.description {
  letter-spacing: 0.55px;
  font-size: 16px;
  line-height: 28px;
}
h3 {
  background-image: radial-gradient(circle, #011222, #ee4b2b);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  font-size: 24px;
  margin: 10px 0;
}
.listContainer {
  list-style: none;
  padding: 0;
  width: 50%;
  margin: 0 auto;
}

.listContainer li + li {
  margin-top: 1rem;
}

.listContainer li {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: aliceblue;
  padding: 1.5rem;
  border-radius: 1rem;
  width: calc(100% - 2rem);
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
}

.listContainer li::before {
  counter-increment: list-item;
  content: counter(list-item);
  font-size: 3rem;
  font-weight: 700;
  width: 2em;
  height: 2em;
  background: black;
  flex: 0 0 auto;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listContainer li:nth-child(even) {
  flex-direction: row-reverse;
  background: lavender;
  margin-right: -2rem;
  margin-left: 2rem;
}
