.header {
  background-color: #011222;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  top: 0px;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;

  height: 60px;
  z-index: 999;
  padding-top: 0px;
  padding-bottom: 0px;
}
.form {
  width: 60%;
  margin: 1rem auto 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.searchField {
  width: 100%;
  border: 3px solid #2b303b;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 10px 0 0 10px;
  outline: none;
  color: #2b303b;
}
@media (max-width: 400px) {
  .searchField {
    font-size: 10px;
  }
}
.icon {
  width: 40px;
  height: 36px;
  border: 1px solid #2b303b;
  background: #2b303b;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
}
.form:hover .icon,
.form:active .icon {
  color: #99b8b2;
}
